In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# range快速生成list

In [2]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [3]:
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

## list comprehention

In [4]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# for迴圈

In [5]:
for i in range(1,6): #range的屁股不會算進去
    print(i)

1
2
3
4
5

## 小天才高斯算1加到100

In [6]:
j = 0
for i in range(1,101):
    j = j+i
print(j)

5050

### list append

In [7]:
prices = [123,456,7890]
c = 34.1415677

In [8]:
for i in prices:
    print(i*c)

4199.4128271
15568.554871200002
269376.96915300004

In [9]:
L = []

In [10]:
L

[]

In [11]:
L.append(87)

In [12]:
L

[87]

In [13]:
M = []

In [14]:
for i in prices:
    M.append(i*c)

In [15]:
M

[4199.4128271, 15568.554871200002, 269376.96915300004]

# 字串分割

In [16]:
O = input('輸入價錢:')

輸入價錢:123,456,7890

In [17]:
O

'123,456,7890'

In [18]:
P = O.split(',')
N = []

In [19]:
for i in P:
    N.append(float(i)*c)

In [20]:
N

[4199.4128271, 15568.554871200002, 269376.96915300004]

In [21]:
Q = '123 456 7890'
R = Q.split(' ')

In [22]:
R

['123', '456', '7890']

In [23]:
Q = '123    456   7890'
R = Q.split(' ')

In [24]:
R

['123', '', '', '', '456', '', '', '7890']

In [25]:
Q.split() #空格容易打錯，括號裡直接不打

['123', '456', '7890']

In [26]:
def exchange(p):
    p = float(p)
    return p*c

In [27]:
exchange(123)

4199.4128271

# map 函數
map(f,L)把f作用到L中的每個元素

In [28]:
R= '123 456 7890'.split()

In [29]:
R

['123', '456', '7890']

In [30]:
list(map(exchange,R))

[4199.4128271, 15568.554871200002, 269376.96915300004]

## 緊急小函數 lambda

In [31]:
def square(x):
    return x**2

In [32]:
square(2)

4

In [33]:
g = lambda x:x**2

In [34]:
g(3)

9

In [35]:
R

['123', '456', '7890']

In [36]:
list(map(lambda p :float(p)*c,R))

[4199.4128271, 15568.554871200002, 269376.96915300004]

In [37]:
egg = '9 4 8 7'.split()

In [38]:
list(map(lambda t:2*float(t)+1,egg))

[19.0, 9.0, 17.0, 15.0]

In [39]:
[float(p)*c  for p in R]

[4199.4128271, 15568.554871200002, 269376.96915300004]

In [42]:
print("\033[33m嘿嘿嘿\033[0m")
print("嘿嘿嘿")

嘿嘿嘿
嘿嘿嘿

# list 合併

In [45]:
R

['123', '456', '7890']

In [65]:
s = ''
for i in R:
    s= s+i +','

In [66]:
s

'123,456,7890,'

In [67]:
r = s.rstrip(',')

In [68]:
r

'123,456,7890'

In [69]:
s[0]

'1'

In [71]:
s[:-1]

'123,456,7890'

In [75]:
','.join(R)

'123,456,7890'