In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
from sklearn.datasets import load_boston

In [4]:
bsdt = load_boston()

In [8]:
bsdt_ftn = bsdt.feature_names

In [9]:
bs = pd.DataFrame(bsdt.data,columns = bsdt_ftn)

In [11]:
bs.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [18]:
bs1 = bs.drop("ZN" and "INDUS" and "CHAS",axis = 1).head()

In [19]:
bs1.corr()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
CRIM,1.000000,-0.641718,-0.222977,-0.716845,0.586231,-0.398149,0.821613,0.821614,-0.775298,0.773251,0.126399,-0.016530
ZN,-0.641718,1.000000,-0.389920,0.986647,-0.467895,0.187497,-0.758406,-0.801784,0.944039,-0.946456,0.383312,-0.072414
INDUS,-0.222977,-0.389920,1.000000,-0.234730,-0.175443,0.669335,-0.304475,-0.237681,-0.064373,0.071763,-0.373544,0.508904
NOX,-0.716845,0.986647,-0.234730,1.000000,-0.524947,0.316312,-0.854438,-0.888413,0.985155,-0.986399,0.338559,0.013571
RM,0.586231,-0.467895,-0.175443,-0.524947,1.000000,-0.759995,0.608167,0.607411,-0.569900,0.568309,-0.625055,-0.714030
AGE,-0.398149,0.187497,0.669335,0.316312,-0.759995,1.000000,-0.667705,-0.632164,0.442936,-0.437744,0.374419,0.884107
DIS,0.821613,-0.758406,-0.304475,-0.854438,0.608167,-0.667705,1.000000,0.997592,-0.930945,0.928214,-0.132099,-0.285301
RAD,0.821614,-0.801784,-0.237681,-0.888413,0.607411,-0.632164,0.997592,1.000000,-0.954028,0.951782,-0.161907,-0.253885
TAX,-0.775298,0.944039,-0.064373,0.985155,-0.569900,0.442936,-0.930945,-0.954028,1.000000,-0.999973,0.281598,0.103807
PTRATIO,0.773251,-0.946456,0.071763,-0.986399,0.568309,-0.437744,0.928214,0.951782,-0.999973,1.000000,-0.284229,-0.099977
B,0.126399,0.383312,-0.373544,0.338559,-0.625055,0.374419,-0.132099,-0.161907,0.281598,-0.284229,1.000000,0.600525
LSTAT,-0.016530,-0.072414,0.508904,0.013571,-0.714030,0.884107,-0.285301,-0.253885,0.103807,-0.099977,0.600525,1.000000