In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sympy as sp

In [24]:
df = pd.read_html("https://zh.wikipedia.org/wiki/%E5%90%84%E5%9B%BD%E4%BA%BA%E5%9D%87%E6%B1%BD%E8%BD%A6%E6%8B%A5%E6%9C%89%E9%87%8F%E5%88%97%E8%A1%A8")

In [25]:
df = df[1]

In [27]:
df

      排名     国家/地区  每千人汽车拥有量              总计          注释
0      1      圣马力诺      1263             NaN         [1]
1      2        美國       910  255,009,283[2]     2017[2]
2      3       摩納哥       899             NaN         [1]
3      4       新西蘭       774         3600000     2017[3]
4      5     列支敦斯登       750             NaN  2014[1][4]
5      6        冰島       745             NaN         [1]
6      7      澳大利亚       740             NaN     2017[5]
7      8       卢森堡       739             NaN         [1]
8      9       馬爾他       693             NaN         [1]
9     10       義大利       679             NaN         [1]
10    11        關島       677             NaN     2014[6]
11    12       加拿大       662   23,553,604[7]        2016
12    13        芬兰       612             NaN     2011[1]
13    14       西班牙       593             NaN         [1]
14    15        日本       591   77,657,517[8]     2017[1]
15    16        希臘       586             NaN    2014 [9]
16    17        挪威       584             NaN         [1]
17    18       奥地利       578             NaN         [1]
18    19        法國       578        38148000    2014[10]
19    20        德國       572        46332000         [1]
20    21        波蘭       567        35450000    2011[11]
21    22        瑞士       543         4524029    2016[12]
22    23       立陶宛       560             NaN     2010[1]
23    24       比利時       559             NaN     2010[1]
24    25       葡萄牙       548             NaN    2010[13]
25    26      斯洛伐克       546             NaN    2016[14]
26    27     斯洛維尼亞       537             NaN         [1]
27    28        巴林       537             NaN     2009[1]
28    29       卡塔尔       532             NaN     2007[1]
29    30      賽普勒斯       532             NaN     2010[1]
..   ...       ...       ...             ...         ...
164  164     赤道几内亚        13             NaN    2004[47]
165  165   巴布亚新几内亚        13             NaN        [15]
166  166        海地        12             NaN        [15]
167  167      莫桑比克        12             NaN     2009[1]
168  168     布吉納法索        12             NaN     2010[1]
169  169     厄立特里亚        11             NaN     2007[1]
170  170        朝鲜        11             NaN    2006[48]
171  171      衣索比亞         8          850000        2017
172  172       马拉维         8             NaN     2007[1]
173  173       乌干达         8             NaN     2009[1]
174  174        緬甸         7             NaN     2010[1]
175  175      坦桑尼亚         7             NaN     2007[1]
176  176       冈比亚         7             NaN     2004[1]
177  177       尼日尔         7             NaN     2009[1]
178  178       布隆迪         6             NaN     2007[1]
179  179      塞拉利昂         6             NaN     2008[1]
180  180        乍得         6             NaN     2006[1]
181  181     刚果（金）         5             NaN     2007[1]
182  182       几内亚         5             NaN        [15]
183  183     毛里塔尼亚         5             NaN        [15]
184  184       尼泊尔         5             NaN     2007[1]
185  185       卢旺达         5             NaN        [15]
186  186        中非         4             NaN        [15]
187  187       賴索托         4             NaN    2004[49]
188  188      索馬利亞         3             NaN        [15]
189  189      利比里亚         3             NaN     2007[1]
190  190      孟加拉国         3             NaN     2010[1]
191  191     所罗门群岛         3             NaN    2004[50]
192  192  聖多美和普林西比         2             NaN     2007[1]
193  193        多哥         2             NaN     2007[1]

[194 rows x 5 columns]

In [31]:
df.sort_values(by =["总计"], ascending=False)

      排名     国家/地区  每千人汽车拥有量              总计            注释
171  171      衣索比亞         8          850000          2017
14    15        日本       591   77,657,517[8]       2017[1]
53    53        臺灣       333   7,842,423[20]      2016[20]
59    59      羅馬尼亞       305         5996377      2017[23]
133  133        印度        50  55,725,543[43]          2015
85    85      亞美尼亞       167          489346     2018 [35]
55    55       俄羅斯       324        46887145      2017[22]
19    20        德國       572        46332000           [1]
21    22        瑞士       543         4524029      2016[12]
18    19        法國       578        38148000      2014[10]
3      4       新西蘭       774         3600000       2017[3]
67    67        巴西       249        35601099      2016[28]
20    21        波蘭       567        35450000      2011[11]
33    34        英國       519        33735000       2010[1]
45    46       以色列       384   3,373,139[18]      2017[19]
1      2        美國       910  255,009,283[2]       2017[2]
47    48        澳門       362          238545          2018
11    12       加拿大       662   23,553,604[7]          2016
74    74        中國       154       212560000  2016[32][33]
61    61      塞爾維亞       291         2052067      2015[24]
54    54     蒙特內哥羅       326          202322      2016[21]
0      1      圣马力诺      1263             NaN           [1]
2      3       摩納哥       899             NaN           [1]
4      5     列支敦斯登       750             NaN    2014[1][4]
5      6        冰島       745             NaN           [1]
6      7      澳大利亚       740             NaN       2017[5]
7      8       卢森堡       739             NaN           [1]
8      9       馬爾他       693             NaN           [1]
9     10       義大利       679             NaN           [1]
10    11        關島       677             NaN       2014[6]
..   ...       ...       ...             ...           ...
163  163        马里        14             NaN       2009[1]
164  164     赤道几内亚        13             NaN      2004[47]
165  165   巴布亚新几内亚        13             NaN          [15]
166  166        海地        12             NaN          [15]
167  167      莫桑比克        12             NaN       2009[1]
168  168     布吉納法索        12             NaN       2010[1]
169  169     厄立特里亚        11             NaN       2007[1]
170  170        朝鲜        11             NaN      2006[48]
172  172       马拉维         8             NaN       2007[1]
173  173       乌干达         8             NaN       2009[1]
174  174        緬甸         7             NaN       2010[1]
175  175      坦桑尼亚         7             NaN       2007[1]
176  176       冈比亚         7             NaN       2004[1]
177  177       尼日尔         7             NaN       2009[1]
178  178       布隆迪         6             NaN       2007[1]
179  179      塞拉利昂         6             NaN       2008[1]
180  180        乍得         6             NaN       2006[1]
181  181     刚果（金）         5             NaN       2007[1]
182  182       几内亚         5             NaN          [15]
183  183     毛里塔尼亚         5             NaN          [15]
184  184       尼泊尔         5             NaN       2007[1]
185  185       卢旺达         5             NaN          [15]
186  186        中非         4             NaN          [15]
187  187       賴索托         4             NaN      2004[49]
188  188      索馬利亞         3             NaN          [15]
189  189      利比里亚         3             NaN       2007[1]
190  190      孟加拉国         3             NaN       2010[1]
191  191     所罗门群岛         3             NaN      2004[50]
192  192  聖多美和普林西比         2             NaN       2007[1]
193  193        多哥         2             NaN       2007[1]

[194 rows x 5 columns]